

body{
  background-image: url("../images/max.jpg");
}

.text {
  fill: url(#gr-radial);
}
svg {
  position: relative;
  height: 100%;
}

h1 {
  /*background-image: url("../images/admin1.jpg");*/
  margin: -6px -6px 7px; -6px ;
  font-size: 55px;
  height:70px;
  padding:30px;
  text-align:center;
  font-family: "Acme";
  border-bottom: 8px solid #c2a661;
}

#create{
  color:white;
  font-size:25px;
  margin-top:-30px;
  font-family:cursive;
  font-style:italic;

}


#home{
 float: left;
 padding: 5px;
 width:70px;
 height:70px;
 margin-left:-20px;
}

#admin{
  float: right;
  padding: 20px;
  width:60px;
  margin-right:-18px;
  height:60px;
}

#logout{
  float: right;
  margin-right:-18px;
  padding: 20px;
  width:60px;
  height:60px;
}

#login{
  float: right;
  margin-right:-18px;
  padding: 20px;
  width:80px;
  height:60px;
}
