

body{
  /*background-image: url("../images/max.jpg");*/
}

.text {
  fill: url(#gr-radial);
}
svg {
  position: relative;
  margin: 0 auto;
  right: 25%;
  /*font-size: calc(4px + 2.5vw);*/
  font-size:4.5vw;
}

h1 {
  margin: -6px -6px 7px; -6px ;
  font-size: 45px;
  padding:30px;
  text-align:center;
  font-family: "Acme";
  border-bottom: 5px solid #c2a661;
}

#create{
  color:white;
  margin-top:-30px;
  font-family:cursive;
  font-style:italic;
  color:#B8860B;
  font-size: calc(2px + 2.5vw);


}


#home{
 float: left;
 margin: 0 auto;
 width:5%;
 height:auto;
 padding:0;
}

#admin{
  float: right;
  display:block;
  width:5%;
  height:auto;
  max-width:70px;
  margin-right:10px;
  cursor:not-allowed;
  margin: 0 auto;
  padding: 0;
}

#logout{
  float: right;
  margin: 0 auto;
  width:5%;
  height:auto;
  padding: 0;
  max-width:70px;
  margin-right:10px;
}

#login{
  float: right;
  width:6%;
  height:auto;
  max-width:70px;
  margin: 0 auto;
  padding: 0;
  margin-right:10px;
}

#view{
  float: right;
  max-width:70px;
  margin: 0 auto;
  width:7%;
  height:auto;
  padding: 0;
  margin-right:10px;

}
