
.main{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;

}

.left{

  background:white;
  flex-direction:column;
  flex: 0 0 75%;
}

.right{
  flex-direction:column;
  background:green;
  justify-content: space-between;
  flex: 0 0 25%;
}

#right-up{
  background:yellow;
  height:20%;
}

#right-center{
  background:red;
  height:20%;
}

#right-bottom{
  background:blue;
  height:20%;
}


.inputfile {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inside{
  margin-bottom:20px;
}
.inputfile + label, input[name="submit"]  {
    width:20%;
    height:auto;
    display:block;
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(0.35em + 1vmin);
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-align:center;
    text-shadow:3px 2px 0px black;
    position:relative;
    padding:8px;
    border: none;
    cursor:pointer;
    background-color: #0A1249;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #800000, 0px 5px 0px 0px #c2a661, 0px 10px 5px #999;
}

.inputfile + label{
  width:19%
}

.inputfile:focus + label, .inputfile + label:hover, input[name="submit"]:hover {
    background-color: #B22222;
}


.edit{
  justify-content: center;
  display:flex;
}


.edit a{
  justify-content: center;
  display:flex;
}


.image{
  margin: auto;
  margin-bottom:20px;
  margin-top:80px;
  width:23%;
  height:30%;
}

.arrow-next{
  margin: auto;
  margin-bottom:20px;
  margin-top:80px;
  width:23%;
  height:60%;
}

.arrow-back{
  margin: auto;
  margin-bottom:20px;
  margin-top:80px;
  width:23%;
  height:60%;
}
