.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.image1{
  width:70%;
  height:auto;
}

.image1:hover{
  background-color:#11183C;
  padding:5px;
  border-radius: 5px;
}


.each{
  margin-top:10px;
  margin-left:20px;
  border-radius: 25px;
  width:30%;
  height:auto;
  max-width:470px;
  opacity:0.8;
  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.each:hover{
  opacity:1;
}

.title{
  color:white;
  text-align:center;
}

.comments{
  font-family: monospace;
  color:black;
  /*border:0.7px solid #ccc;*/
  overflow:auto;
  height:80px;
  margin-top:15px;
  margin-left:20px;
  border-radius: 5px;
  font-size:0.8vw;
  font-size-adjust:auto;
  z-index:1;
}

@media (min-width: 700px) {
.comments{
  font-size: 11px;
}
}

.likes{
  text-align:right;
  font-family:cursive;
  color:white;
}

#new_comment{
  float:left;
  color:#F0F2F0;
  background-color: #000C40;  /* fallback for old browsers */
  border-radius: 5px;
  height:25px;
  font-style:italic;
  font-family: monospace;
  font-size:0.8vw;
  font-size-adjust:auto;
  width:60%;
  margin-left:10px;

}

@media (min-width: 700px) {
  #new_comment{
    font-size: 12px
  }
}

#post{
  color:#B22222;
  border-radius: 5px;
  font-family: monospace;
  background-color: black;
  margin-bottom:15px;
  margin-left:5px;
  border-radius: 5px;
  height:25px;
  width:16%;
  height:30px;
  font-size:0.8vw;
  font-size-adjust:auto;
}

/*take picture css*/

.booth{
  margin-top:20px;

}
#video{
  background-color:#666;
  border:2px solid #800000;
}

.bottom{
  display:flex;
  justify-content:center;
}

.booth-capture{
  margin-top:30px;
  width:20%;
  max-width:200px;
  height:45px;
  margin-left:10px;
  font-family: monospace;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
  text-shadow:1px 1px 0px #000000;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #EB5757;
  background: -webkit-linear-gradient(to bottom, #000000, #EB5757);
  background: linear-gradient(to bottom, #000000, #EB5757);
  margin-top:10px;
  border:none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #BD871A, 0px 5px 0px 0px #800000, 0px 10px 5px #999;
}

#canvas{
  margin-top:30px;
  width:50%;
  height:50%;
}
