.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.image {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
    width:70%;
    height:auto;
}

.image:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.each{
  margin-top:10px;
  margin-left:20px;
  border-radius: 25px;
  width:25%;
  height:auto;
  max-width:420px;
  background: #F0F2F0;
  background: -webkit-linear-gradient(to bottom, #000C40, #F0F2F0);
  background: linear-gradient(to bottom, #000C40, #F0F2F0);
}

.each:hover{
  opacity:1;
}

.title{
  color:white;
  text-align:center;
}

.comments{
  font-family: monospace;
  color:black;
  overflow:auto;
  height:80px;
  margin-top:15px;
  margin-left:20px;
  border-radius: 5px;
  font-size:0.8vw;
  font-size-adjust:auto;
  z-index:1;
}

@media (min-width: 700px) {
.comments{
  font-size: 11px;
}
}

.likes{
  text-align:right;
  font-family:cursive;
  color:white;
}

#new_comment{
  float:left;
  color:#F0F2F0;
  background-color: #000C40;
  border-radius: 5px;
  height:25px;
  font-style:italic;
  font-family: monospace;
  font-size:0.8vw;
  font-size-adjust:auto;
  width:60%;
  margin-left:10px;
}

@media (min-width: 700px) {
  #new_comment{
    font-size: 12px
  }
}

#post{
  color:#B22222;
  border-radius: 5px;
  font-family: monospace;
  background-color: black;
  margin-bottom:5px;
  margin-left:5px;
  border-radius: 5px;
  width:16%;
  height:30px;
  font-size:0.8vw;
  font-size-adjust:auto;
}


#delete{
  float:right;
  max-width:25px;
  width:9%;
}
