.images{
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	align-content: flex-start;
}

.image1{
  width:180px;
  height:auto;
}

.likes{
  width:25px;
}

.each{
  background-color:white;
  padding:10px;
  margin-top:10px;
  margin-left:20px;
}

.title{
  color:white;
  margin:0;
}

.likes{
  color:white;

}

.comments{

}

.image:hover{
  background-color:#11183C;
  padding:10px;
  border-radius: 25px;
}
